dev/
downloader/
errors/
includes/
js/
lib/
media/
shell/
skin/
var/
api.php
cron.php
cron.sh
favicon.ico
get.php
.htaccess
.htaccess.sample
index.php
index.php.sample
install.php
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
mage
php.ini.sample
RELEASE_NOTES.txt
