<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <productfeed_config>
            <cron>
                <cache_duration>1</cache_duration>
            </cron>
            <filter>
                <category></category>
                <tag_name></tag_name>
                <tag_value></tag_value>
            </filter>
            <fields>
                <dimention_height></dimention_height>
                <dimention_length></dimention_length>
                <dimention_width></dimention_width>
            </fields>
            <units>
                <dimension></dimension>
                <weight></weight>
            </units>
            <inventory>
                <ean></ean>
                <mpn></mpn>
            </inventory>
            <attributes>
                <color></color>
                <size></size>
                <size_type></size_type>
                <gender></gender>
                <material></material>
                <pattern></pattern>
                <age_group></age_group>
                <condition></condition>
                <brands></brands>
                <additional></additional>
            </attributes>
        </productfeed_config>
    </default>
</config>