<?xml version="1.0"?>
<config>
	<modules>
		<Urbit_ProductFeed>
			<version>0.1.0</version>
		</Urbit_ProductFeed>
	</modules>

	<!-- FRONTEND -->

	<frontend>
		<routers>
			<productfeed>
				<use>standard</use>
				<args>
					<module>Urbit_ProductFeed</module>
					<frontName>urbit_productfeed</frontName>
				</args>
			</productfeed>
		</routers>
		<layout>
			<updates>
				<productfeed>
					<file>urbit/productfeed.xml</file>
				</productfeed>
			</updates>
		</layout>
	</frontend>

	<!-- GLOBAL -->

	<global>
		<helpers>
			<productfeed>
				<class>Urbit_ProductFeed_Helper</class>
			</productfeed>
		</helpers>
		<blocks>
			<productfeed>
				<class>Urbit_ProductFeed_Block</class>
			</productfeed>
		</blocks>
		<models>
			<productfeed>
				<class>Urbit_ProductFeed_Model</class>
				<resourceModel>productfeed_mysql4</resourceModel>
			</productfeed>
		</models>
	</global>

	<!-- ADMIN -->

	<admin>
		<routers>
			<productfeed>
				<use>admin</use>
				<args>
					<module>Urbit_ProductFeed</module>
					<frontName>admin_productfeed</frontName>
				</args>
			</productfeed>
		</routers>
	</admin>

	<!-- CRON -->

	<crontab>
		<jobs>
			<productfeed_generatefeed>
				<schedule>
					<cron_expr>* * * * *</cron_expr>
				</schedule>
				<run>
					<model>productfeed/cron::generateFeed</model>
				</run>
			</productfeed_generatefeed>
		</jobs>
	</crontab>

	<!-- CONFIG DEFAULTS -->

	<default>
		<productfeed_config>
			<cron>
				<cache_duration>1</cache_duration>
			</cron>
			<filter>
				<category></category>
				<tag></tag>
				<stock>0</stock>
			</filter>
			<fields>
				<dimention_height></dimention_height>
				<dimention_length></dimention_length>
				<dimention_width></dimention_width>
				<dimention_unit></dimention_unit>
				<weight_unit></weight_unit>
				<ean></ean>
				<mpn></mpn>
				<color></color>
				<gender></gender>
				<material></material>
				<pattern></pattern>
				<age_group></age_group>
				<condition></condition>
				<sizeType></sizeType>
				<brands></brands>
				<attributes></attributes>
			</fields>
		</productfeed_config>
	</default>
</config>