/admin*
/app/
/bin/
/cache/
/classes/
/composer.json
/composer.lock
/config/
/controllers/
/docs/
/download/
/error500.html
/.eslintrc.json
/.htaccess
/images.inc.php
/img/
/index.php
/init.php
/INSTALL.txt
/js/
/LICENSES/
/localization/
/mails/
/override/
/pdf/
/robots.txt
/src/
/themes/
/tools/
/translations/
/upload/
/vendor/
/webservice/

!modules/
modules/*

!modules/productfeed/
!modules/inventoryfeed/
!modules/urbit_productfeed/
!modules/urbit_inventoryfeed/

modules/urbit_inventoryfeed/Json/*
!modules/urbit_inventoryfeed/Json/.gitkeep
